{% extends "../adminbase/admin-base.html" %}
{% load static %}

{% block title%}
Variation
{%endblock title%}

{%block add%}
<a href="{% url 'variation_create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
AddVariation+
</a>
{%endblock add%}

{%block custom_css%}
{%endblock custom_css%}

{%block page_title%}
Variation
{%endblock page_title%}

{% block page_content%} 

<div class="row">
    <div class="col-lg-12">
        <div class="search-element">
            <div class="card">
                <div class="card-body">
                    <form method="get">
                        <button class="btn btn-primary" type="submit" style="float:right"><i class="fas fa-search">Search</i></button>
                        <input class= "form-control" type="search" placeholder="Search" aria-lebel="Search" data-width="250" style="width: 250px;float:right" name="filter" value={{filter}}>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <style>
                    .blue-outline-table {
                        border: 1px solid #3498db; /* Blue outline color */
                    }

                    .blue-outline-table th {
                        background-color: #3498db; /* Blue background color */
                        color: #fff; /* White text color for the header */
                    }
                </style>
                <table class="table table-striped table-hover blue-outline-table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Variation Category</th>
                            <th scope="col">Variation Value</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Is Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for variation in object_list %}
                            <tr>
                                <td>{{ variation.product }}</td>
                                <td>{{ variation.variation_category }}</td>
                                <td>{{ variation.variation_value }}</td>
                                <td>{{ variation.created_date }}</td>
                                <td>{{ variation.is_active }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>



    
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <nav aria-label="...">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'variation' %}?filter={{filter}}&orderby={{orderby}}&page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                                        <a class="page-link" href="{% url 'variation' %}?filter={{filter}}&orderby={{orderby}}&page={{i}}">{{i}}</a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'variation' %}?filter={{filter}}&orderby={{orderby}}&page={{page_obj.next_page_number}}" tabindex="-1">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock page_content%} 

{%block custom_js%}
{%endblock custom_js%}
